.box {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid black;
}


/* USE OF ROTATE FUNCTION */
#box1 {
    background-color: blue;
}
#box1:hover {
    transform: rotate(30deg);
}

#box2 {
    background-color: yellow;
}
#box2:hover {
    transform: rotate(45deg);
}


#box3 {
    background-color: green;
}
#box3:hover {
    transform: rotate(65deg);
}


/* USE OF SCALE FUNCTION */
#box4 {
    background-color: rgb(20, 132, 94);
}
#box4:hover {
    transform: scale(2);
}

#box5 {
    background-color: rgb(116, 23, 192);
}
#box5:hover {
    transform: translate(100px);
}


#box6 {
    background-color: rgb(242, 207, 29);
}
#box6:hover {
    transform: scale(6);
}